# Remove the comments when you're done.
USERNAME = <username>
PASSWORD = <password> # Password, not API key
REGION = <region>
ENDPOINT_TYPE = internalURL
AUTH_URL = <authurl> #  https://identity.api.rackspacecloud.com/v2.0/
CONTAINER = example # swift container to store files in
BACKUPDIR = /logs/ # directory logs are stored in to upload to swift
